.header {
    color: #799575;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;

}

h2 {
    color: #799575;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;

}
div {
    
    background-color: #799575;
    padding-top: 20px;
    padding-right: 200px;
    padding-bottom: 20px;
    padding-left: 200px;
  }
  

h3 {
    color: darkolivegreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}

p {
    font-family: Arial, Helvetica, sans-serif;

}
#center {
    text-align: center;

}

ul{
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;

}
